
/*提木三*/
.up{
    width:100%;
    background-color: rgba(178, 160, 101, 0.86);
    padding:30px;
    overflow: auto;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.down{
    width:100%;
    height:auto;
    background-color: rgba(178, 160, 101, 0.86);
    padding:30px;
    overflow: auto;
    align-items: center;
    display:flex;
    flex-direction: column;
    justify-content: center;
}
#input{
    width:400px;
    height: fit-content;
    margin:20px;
}

table, th, td{
    border : 2px solid black;
    border-collapse: collapse;
}

th, td{
    padding:10px;
}