.page{
    display:flex ;
    align-items: stretch;
}
#bar{
    width:250px;
    height:100vh;
    background-color: lightslategrey;
    color:white;
    transition: 1s;
}
#bar.active{
    margin-left: -200px;
}

.right{
    width:100%;
    height:100vh;
    background-color: rgba(178, 160, 101, 0.86);
    padding:30px;
    overflow: auto;
    display:flex;
    justify-content: center;
}
.collapse-btn{
    position:relative;
    top:1%;
    left:208px;
    background-color:lightslategrey;
    border:none;
    font-size:30px;
    padding:5px;
}
.collapse-btn:hover{
    background-color: rgb(145, 166, 188);
    transition:0.4s;
}
#bar p{
    text-align: center;
    font-size: 30px;
    letter-spacing: 5px;
    font-style: italic;
    padding:8px;
    font-weight: 500;
    margin-bottom: -5px;
}
#bar ul li a{
    font-size:20px;
    padding:10px;
    display: block;
    text-decoration: none;
    color:aliceblue;
}
#bar ul li a:hover{
    background-color: rgb(247, 251, 251);
    color:rgb(237, 204, 75);
    transition: 0.4s;
}
.fa-solid{
    float:right;
}

ul ul li a{
    background-color: rgb(104, 172, 239);
    font-size: 20px;
    font-style: italic;
}
.about-someword{
    width:1070px;
    height: auto;
    background-color: beige;
    padding: 30px;
    position:relative;
    top:10%;
    margin: 25px;
}
.h:hover{
    transform: scale(1.1);
    transition: all 0.5s ease 0s;
}

.about-page{
    width:1070px;
    height:500PX;
    display:flex;
    background-color: beige;
    padding: 30px;
    position:relative;
    margin-top:15%;   
}
.about-page div{
    width:300px;
    height:400px;
    background-color: lightsteelblue;
    padding:10px;
    margin:20px;
}
.about-page div:hover{
    transform: scale(1.1);
    transition: all 0.5s ease 0s;
}
.about-page p{
    text-align: center;
    font-size: 30px;
    letter-spacing: 8px;
    padding:10px;
    font-weight:bold;
}
.about-list li{
    font-size: 14px;
    letter-spacing: 5px;
    padding:5px;
    display: block;
    text-align: left;
    line-height: 40px;
    font-weight:bold;
}
.imgcoll{
    width:1000px;
    height:500px;
    padding:10px;
    background-color:lightslategrey ;
    display:flex;
    margin-top: 8%;
}
.introduce{
    width:480px;
    height:460px;
    padding:10px;
    margin:10px;
    background-color: cornsilk;
}
.introduce a{
    font-size:20px;
    padding:10px;
    display: block;
    text-decoration: none;
}
.i{
    width:480px;
    height:460px;
    padding:10px;
    margin:10px;
    background-color: cornsilk;
}
.method{
    height:260px;
    display:block;
}
.method a{
    font-size: 80px;
    margin:40px;
    margin-top: -2px;
}
.method li{
    padding:15px;
    font-size: 20px;  
}
.method a :hover{
    transform: scale(1.3);
    transition: all 0.5s ease 0s;
}
.method p{
    font-size:30px; 
    text-align:center; 
    font-weight: bold;
    color:rgba(178, 160, 101, 0.86);
}
.port-title:hover{
    background-color:blueviolet;;
    color:blueviolet;
    transition: 0.4s;
}
.port div:hover{
    transform: scale(1.1);
    transition: all 0.5s ease 0s;
}




